@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.home {
  background-color: #2c2f33;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: white;
  height: 100vh;
}

.home_heading {
    font-size: 9rem;
    font-weight: 600;
    margin-bottom: 0;
}
.home_para {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.flex_buttons {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}